%%-*- mode: erlang -*-
{minimum_otp_vsn, "22.0"}.
{erl_opts, [debug_info,
            warnings_as_errors,
            {i, "./_build/default/plugins/gpb/include"}]}.

{erl_first_files, ["src/gen_leader.erl"]}.

{eunit_opts, [verbose]}.

{deps, [{ranch, "2.1.0"},
        {ebloom,{git, "https://github.com/basho/ebloom.git", {tag, "2.1.0"}}},
        {riak_kv, {git, "https://github.com/TI-Tokyo/riak_kv.git", {tag, "riak_ts-3.0.0"}}}
       ]}.

{plugins, [{rebar3_gpb_plugin, "2.22.1"},
           {eqc_rebar, {git, "https://github.com/Quviq/eqc-rebar", {branch, "master"}}}]}.

{gpb_opts, [{module_name_suffix, "_pb"},
            {msg_name_to_lower, true},
            {i, "src"}]}.

{provider_hooks, [{pre, [{compile, {protobuf, compile}}]}]}.

{xref_checks, [undefined_function_calls, undefined_functions]}.
{xref_queries, [{"(XC - UC) || (XU - X - B - cluster_info : Mod)", []}]}.

{edoc_opts, [{preprocess, true}]}.

{profiles,
 [{test, [{deps, [meck, proper]}]},
  {gha, [{erl_opts, [{d, 'GITHUBEXCLUDE'}]}]}
 ]}.
